# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Editor temporary files
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
